@model IEnumerable<AsyncInn.Models.HotelRoom>

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/StyleSheet.css" rel="stylesheet" />

</head>
<body>
    <a asp-action="Create">Add a Room to a Hotel</a>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoomNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PetFriendly)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hotel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoomNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PetFriendly)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Room.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hotel.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { roomID = item.RoomID, hotelID = item.HotelID }) |
                @Html.ActionLink("Details", "Details", new { roomID = item.RoomID, hotelID = item.HotelID }) |
                @Html.ActionLink("Delete", "Delete", new { roomID = item.RoomID, hotelID = item.HotelID })
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
