@model IEnumerable<AsyncInn.Models.Hotel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/StyleSheet.css" rel="stylesheet" />

</head>
<body>
    <div class="Nav">
        <h1>ASync Inn Hotel Manager</h1>
        <a class="Nav-1" asp-controller="Hotels">Hotel Page</a>
        <a class="Nav-2" asp-controller="Rooms">Rooms Page</a>
        <a class="Nav-3" asp-controller="Amenities">Amenites Page</a>
        <a class="Nav-4" asp-controller="RoomAmenities">Room Manager</a>
        <a class="Nav-5" asp-controller="HotelRooms">Hotel Manager</a>
        <a class="Nav-6" asp-action="Create">Create New</a>
    </div>
    
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.City)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.State)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Phone)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.State)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
